fastapi
uvicorn
streamlit
requests
python-dotenv
python-multipart
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq

chromadb

sentence-transformers
torch
transformers

pypdf
pdfplumber
docx2txt
python-pptx

pandas
openpyxl
xlrd

chardet
